<head>
  <%= stylesheet_link_tag    "albums", :media => "all" %>
  <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
          $("area[rel^='prettyPhoto']").prettyPhoto();
      });
  </script>
</head>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Description:</b>
  <%= @album.description %>
</p>

<div id="content2">
  <ul class="gallery clearfix">
    <br/>
    <li><a href="../assets/fullscreen/1.jpg" rel="prettyPhoto[gallery1]" title="Malte stinkt."><img src="../assets/thumbnails/t_1.jpg" width="60" height="60" alt="Red round shape" /></a></li>
    <li><a href="../assets/fullscreen/2.jpg" rel="prettyPhoto[gallery1]"><img src="../assets/thumbnails/t_2.jpg" width="60" height="60" alt="Nice building" /></a></li>
    <li><a href="../assets/fullscreen/3.jpg" rel="prettyPhoto[gallery1]"><img src="../assets/thumbnails/t_3.jpg" width="60" height="60" alt="Fire!" /></a></li>
    <li><a href="../assets/fullscreen/4.jpg" rel="prettyPhoto[gallery1]"><img src="../assets/thumbnails/t_4.jpg" width="60" height="60" alt="Rock climbing" /></a></li>
    <li><a href="../assets/fullscreen/5.jpg" rel="prettyPhoto[gallery1]"><img src="../assets/thumbnails/t_5.jpg" width="60" height="60" alt="Fly kite, fly!" /></a></li>
    <br/>
  </ul>
  </div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $("area[rel^='prettyPhoto']").prettyPhoto();

        $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:3000, autoplay_slideshow: true});
        $(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});

        $("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
            custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
            changepicturecallback: function(){ initialize(); }
        });

        $("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
            custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
            changepicturecallback: function(){ _bsap.exec(); }
        });
    });
</script>



<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
