<!DOCTYPE html>
<html>
<head>
  <title>Picbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


<body>

<div id="wrapper">
  <div id="header_left"></div>
  <div id="header_right">
    <div id="login">
      <input type="text" value="login" name="login" size="13" />
      <input type="password" value="password" name="password" size="13" />
      <input type="submit" class="imgClass" value=" " name="submit_login" />
    </div>

  </div>
  <div id="content">

    <%= yield %>
  </div>


</div>
</div>

<div id="user_nav">
  <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to "Log out", log_out_path %>
  <% else %>
      <%= link_to "Sign up", sign_up_path %> or
      <%= link_to "log in", log_in_path %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>


</body>
</html>
